<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
      
      <!--DATABASE CONNECTION SETTINGS-->
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="hibernate.connection.username">Jesse</property>
    <property name="hibernate.connection.password">instanceX23</property>
    
    <!-- SQL DIALECT -->
    <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
    
    <!-- Connection pool (database cache)-->
    <property name="connection.pool_size">1</property>
    
    <!-- ECHO ALL EXECUTED SQL TO STDOUT -->
    <property name="show_sql">true</property>
    
    <!-- DISABLE THE SECOND LEVEL CACHE -->
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    
    <!-- CALL ALL MODELS CLASSES ALONG W/ THEIR PACKAGE -->
    <mapping class="com.mvc.model.user_profile"/>
    <mapping class="com.mvc.model.user_info"/>
    
  </session-factory>
</hibernate-configuration>
